/* Third Party Styles */

@import 'primereacttheme.scss'; //theme
@import 'primereact/resources/primereact.min.css'; //core css
@import 'primeicons/primeicons.css'; //icons
@import 'primeflex/primeflex.css'; // flex';

/*
 * xl = 1200
 * lg = 992
 * md = 768
 * sm = 576
 * xs = 0
 */

/* Global App Styles */

body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
}